.footerContent {
    background: var(--footer-bg);
    color: #fff;
    font-family: Libre Baskerville,Palatino Linotype,Times New Roman,serif;
    padding: 35px 0 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer_navigation {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.footer_navigation__link{
    color: #f3f3f3;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    text-decoration: none;
}

.footer__copyRight {
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
