.navigation {

}

.navigation__list {
    display: flex;
    list-style: none;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.navigation__item {

}

.navigation__text {
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    position: relative;
}