/* Sections */
.section__hero {
    background-color: var(--bg-hero);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.footer__logo {
    width: 180px;
    height: 180px;
}

.section__projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-section);
}

.hero__image-bg {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    position: absolute;
    display: block;
    width: 100vw;
    top: -200px;
    pointer-events: none;
}

.projectPreview {
    justify-content: center;
    display: flex;
    align-items: center;
}

.imagePreview {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imagePreview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    z-index: 2;
    opacity: 0.5;
}

.projectPreview img {
    display: block;
    width: 100%;
    max-height: 480px;
}

.project-minisweeper {
    background-image: url("./../../../../public/sweeper.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(2px);
}